<!DOCTYPE html>

<html
	xmlns:th="https://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="LayoutPadrao">

<head>
<meta charset="UTF-8">
<title>Listagem de cobranças</title>
</head>

<section layout:fragment="conteudo">
	<div class="card mx-3">
		<div class="card-header d-flex justify-content-between">
			<h4>
				<strong>Pesquisa de cobranças</strong>
			</h4>
			<a class="btn btn-link" href="/cobranca/novo">Nova Cobrança</a>
		</div>

		<div class="card-body">
			<table class="table table-bordered table-striped text-center">
				<thead>
					<tr>
						<th>#</th>
						<th class="text-left">Descrição</th>
						<th>Data de Vencimento</th>
						<th class="text-right">Valor</th>
						<th>Status</th>
						<th></th>
					</tr>
				</thead>

				<tbody>
					<tr th:each="cobranca: ${listaCobranca}">
						<td th:text="${cobranca.code}"></td>
						<td class="text-left" th:text="${cobranca.description}"></td>
						<td th:text="${#dates.format(cobranca.expirationDate, 'dd/MM/yyyy')}"></td>
						<!-- para concatenar String precisa add | no inicio e final -->
						<td class="text-right" th:text="|R$ ${{cobranca.value}}|"></td>
						<td>
							<span 
								class="px-2 py-1 badge" 
								th:text="${cobranca.charge.descricao}"
								th:classappend="${cobranca.isPendente ? 'badge-danger' : 'badge-success'}"
							>
							</span>
						</td>
						<td>icone icone</td>
					</tr>

					<tr th:if="${#lists.isEmpty(listaCobranca)}">
						<td colspan="6" >Nenhuma cobrança encontrada</td>
					</tr>

				</tbody>

			</table>
		</div>
	</div>
</section>
</html>